$me-color-primary:#04158f;

$me-color-blue-low:#8300de;
//#0e004b #04158f #8300de

$me-color-white:#ffffff;

$me-color-blue-low-1:#c8e4f6;

$me-color-black:#060302;
$me-color-black-slow:#797979;
//#797979
//#3786da #1c1c1c #61a4d7
